/* CSS! */
@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed");

.navbar-brand{
    padding-left: 30px;
}

.material-media{
    text-align: center;
}


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



div.frameT {
    width: 100%;
    padding: 0;
    display: table;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

div.frameT2 {
    width: 100%;
    padding: 0;
    display: table;
    top: 0;
    left: 0;
    margin: 0;
    margin-top:-350px;
}

div.frameTC {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

div.content {
    width: 226px;
    height: 226px;
    background-color: #fff;
    margin: 0 auto;
    text-align: left;
    padding: 3px;
    border-radius: 50%;
}



.material-media{
    height:240px;
    width: 240px;
    border-bottom: 0px;

}

.material-media__object_lg{
    width: 200px;
    height: 200px;

}

.panel-default-top{
    width: 350px;
}

.panel-default-bottom{
    min-height:99px;
}

.round1{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
}
.round2{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
}
.round3{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
}

.round4{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
}
.round5{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
}

.fa {
    margin-right:5%;
    margin-bottom:5%;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
}

/* Add a hover effect*/
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #f44b42;
    color: white;
}

/*Instagram*/
.fa-instagram {
    background: #125688;
    color: white;
}

/*vertically center image */
.container2 {
    height: 240px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.container2:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.element {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif; }       /* <-- reset the font property */

/*contact me page background coloring */
@media only screen and (min-width: 992px) {
    .backgroundContact{
        height: 100%;
        background: linear-gradient(90deg, #eceff1 60.5%, #fafafa 38.5%);
    }
}
@media only screen and (max-width: 992px) {
    .backgroundContact{
        height: 100%;
        background-color: #eceff1;
    }
}

.background-image{
    /*background: linear-gradient(150deg, #1305BA, #00EBFF);*/
    /*min-height: 120vh;*/
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Saira Extra Condensed", sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.containerTop {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    background: linear-gradient(150deg, #1305BA, #00EBFF);
    background-size: cover;
    
}

.waveContainer {
    background-image: url("../images/Group 69@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

header {
    text-align: center;
    padding: 0.5rem 0 5rem;
    font-size: 1.25rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
}

.navItem {
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navItem::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 250ms;
}
.navItem:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/*Mouse*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 1.618;
}


h2 {
    /*font-family: "Playfair Display", serif;*/
    line-height: 1.2;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 5rem;
        /*max-width: 35rem;*/
        /*text-align: center;*/
    }
}

h2 {
    font-size: 2.5rem;
}


.mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
}

.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform;
}

.scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0.01;
    }
}
.content {
    min-height: 100vh;
    max-width: 28rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



#elegantDesign {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
}
#preciseExecution{

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.phone1{

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}

.phone2{

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}

.phone3{

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}


    .outer {
        display: table;
        position: relative;
        height: 90%;
        width: 100%;
       
    }
    
    .middle {
        display: table-cell;
        vertical-align: middle;
    }
    
  